.navbar {
    position: relative;
    padding: 0.5rem;
    background-color: rgb(101,18,95);
    background-color: rgba(101,18,95,0.5);
    z-index: 1;
}

.navbar .logo {
    position: relative;
    left: 2rem;
    cursor: pointer;
}

.navbar .links-container {
    display: table;
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    color: white;
    text-decoration: none;
}

.links-container .navbar-link {
    display: table-cell;
    position: relative;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
    color: white;
    font-size: 0.625rem;
    letter-spacing: 0.05rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.links-container .navbar-link:hover {
    color: rgb(233,50,117);;
}

body.album {
     background-image: url(../assets/images/blurred_backgrounds/blur_bg_3.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center center;
     background-size: cover;
 }

 .album-cover-art {
     position: relative;
     left: 20%;
     margin-top: 1rem;
     width: 60%;
 }

 .album-view-details {
     position: relative;
     top: 1.5rem;
     padding: 1rem;
 }

 .album-view-details .album-view-title {
     font-weight: 300;
     font-size: 2rem;
 }

 .album-view-details .album-view-artist {
     font-weight: 300;
     font-size: 1.5rem;
 }

 .album-view-details .album-view-release-info {
     font-weight: 300;
     font-size: 0.75rem;
 }

 .album-view-song-list {
     width: 90%;
     margin: 1.5rem auto;
     font-weight: 300;
     font-size: 0.75em;
     border-collapse: collapse;
 }

 .album-view-song-item {
     height: 3rem;
     /* #1 */
     border-bottom: 1px solid rgba(255,255,255,0.5);
 }

 .song-item-number {
     width: 5%;
 }

 .song-item-title {
     width: 85%;
 }

 .song-item-duration {
     width: 5%;
 }
 /* #2 */
 @media (max-width: 640px) and (min-width: 320px) {
     .album-view-details {
         text-align: center;
     }

     .album-view-title {
         margin-top: 0;
     }
 }

 /* #3 */
 @media (max-width: 1024px) and (min-width: 320px) {
    .album-view-song-list {
         position: relative;
         top: 1rem;
         width: 80%;
         margin: auto;
     }
 }
